body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
button{
    background-color: transparent;
    border:none;
    cursor: pointer; 
}



/* 공통 css 끝!  */
/* 헤더 영역 */





.header-top-wrap{
    background-color: #faecec80;
    padding: 8px 15px 20px 30px;
}

.header-right {
display: flex;
float: right;
width: 20%;
justify-content: space-between;
margin-right: 5%;
margin-top: 1%;
}

.header-right a {
    font-size:small;
    color:#65737e;
    padding: 5px 5px;
}
/* 호버 굳이? 굳이구지구지 */
.header-right a:hover{
    background-color: rgb(255, 224, 224);
    border-radius : 4px;
}

.header-right img {
    height:22px;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top:2%;
    margin-left:3%;
}

.navbar_logo img {
    height:100px;
}

.navbar_menu{
    position:relative;
    float:left;
    display:flex;
    list-style:none;
    padding-left:0;
    width: 25%;
    justify-content: space-evenly;
}

.navbar_menu li{
    clear:both;
    padding: 8px 12px;
}
/* g호버 굳이? 굳이...?  */
.navbar_menu li:hover{
    background-color: rgb(255, 224, 224);
    border-radius : 4px;
}



/* 검색 아이콘 css */
.container-1{
width: 300px;
vertical-align: middle;
white-space: nowrap;
position: relative;
}

.container-1 input#search {
    width: 300px;
    height: 45px;
    background: #ffffff70;
    border: none;
    font-size: 10pt;
    float: left;
    color: black;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/* textholder에 색상 넣기 */

.container-1 input#search::-webkit-input-placeholder {
color: #65737e;
}
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
color: #65737e;  
}
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
color: #65737e;  
}
.container-1 input#search:-ms-input-placeholder {  
color: #65737e;  
}

/* 거지같은 검색아이콘새끼 자리잡아주기 */
.container-1 .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: -12px;
    color: #4f5b66;
}
.box{
    position: relative;
}
.container-2{
    bottom: -23px;
    position: absolute;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    
}
.container-2 a{
    color:#4f5b66;
    font-size:small;
}



/* 반응형 ㅗㅗㅗㅗㅗ */
@media screen and (max-width: 800px) {
    .navbar{
        flex-direction: column;
        align-items:flex-start;
    }

    .navbar_menu{
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    
    .navbar_menu li{
        width:100%;
        text-align: center;
    }


}

/* 헤더영역 끝 */