<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="top100chart">
		SELECT ROWNUM, ALBUM_CHANGENAME, MUSIC_TITLE, ALBUM_TITLE, ARTIST_NAME, ALBUM_NO, MUSIC_NO
		FROM (
				SELECT *
				FROM MUSIC
				JOIN ALBUM USING(ALBUM_NO)
				JOIN ARTIST USING(ARTIST_NO)
				ORDER BY DBMS_RANDOM.VALUE
			) 
		WHERE ROWNUM &lt;= 100
	</entry>
	<entry key="recentMusic">
		SELECT ROWNUM, ALBUM_CHANGENAME, MUSIC_TITLE, ALBUM_TITLE, ARTIST_NAME, ALBUM_NO, MUSIC_NO
		FROM (
				SELECT *
				FROM MUSIC
				JOIN ALBUM USING(ALBUM_NO)
				JOIN ARTIST USING(ARTIST_NO)
                ORDER BY ALBUM_DATE DESC
			) 
		WHERE ROWNUM &lt;= 100
	</entry>
	<entry key="dacnepopMusic">
		SELECT ROWNUM, ALBUM_CHANGENAME, MUSIC_TITLE, ALBUM_TITLE, ARTIST_NAME, ALBUM_NO, MUSIC_NO
		FROM (
				SELECT *
				FROM MUSIC
				JOIN ALBUM USING(ALBUM_NO)
				JOIN ARTIST USING(ARTIST_NO)
                WHERE MUSIC_GENRE = '댄스/팝'
                ORDER BY ALBUM_DATE DESC
			) 
		WHERE ROWNUM &lt;= 100
	</entry>
	<entry key="keywordSearch">
	SELECT ROWNUM, ALBUM_CHANGENAME, MUSIC_TITLE, ALBUM_TITLE, ARTIST_NAME, ALBUM_NO, MUSIC_NO
		FROM (SELECT * 
		    FROM KEYWORD
		    JOIN MUSIC_KEYWORD USING(KEYWORD_NO)
		    JOIN MUSIC USING(MUSIC_NO)
		    JOIN ALBUM USING(ALBUM_NO)
		    JOIN ARTIST USING(ARTIST_NO)
		    WHERE KEYWORD_NAME = ?)
		WHERE ROWNUM &lt;= 100
	</entry>
</properties>